<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Quantity</th>
      <th>Menu</th>
      <th>Status</th>
      <th colspan="4"></th>
    </tr>
  </thead>
<tbody>
<% @user.orders.each do |order| %>

  <tr>
    <td><%= order.name %></td>
    <td><%= order.quantity %></td>
    <td>  <% order.menus.each do |menu|  %>
        <%= menu.name %>
      <% end %>
    </td>
    <td><%= order.status %></td>
  </tr>
<% end %>
</tbody>
</table>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
